html {
    line-height: 1.5;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

.full-width {
    max-width: none;
    margin: 0 8px 8px;
    padding: 0 1%;
}

.full-width .header,
.full-width .header + hr {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    line-height: 1.6;
}

.body {
    display: flex;
    padding: 0 0 0 5px;
    gap: 50px;
}

.body > div > h1 {
    color: grey;
    font-weight: 500;
    font-size: 10px;
    letter-spacing: normal;
    text-transform: none;
    margin: 0px;
}

.body-text {
    padding-top: 1%;
}

.about {
    flex: 3;
}

.experiences {
    flex: 2;
}

.main {
    gap: 1.3rem;
    position: relative;
    padding-bottom: 0;
}

.project {
    display: inline-block;
    flex: 1 1 auto;
    width: 30%;
    gap: 1.3rem;
}

@media (max-aspect-ratio: 1/1) {
    .project {
        width: 60%;
    }
}

.title > h1 {
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
}

.title > h2 {
    font-family: inherit;
    font-weight: 500;
    font-size: 10px;
    letter-spacing: normal;
    text-transform: none;
}

.image {
    padding-top: 1%;
    padding-bottom: 1%;
    height: 100%;
    object-fit: cover;
    border-radius: 5%;
}

footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: normal;
    padding: 2px;
    background: grey;
    border-top: none;
}

.footer-object {
    text-align: center;
    color: black;
    font-size: 10px;
    opacity: 0.3;
    flex: 4;
}

/* SAKURA */

.sakura {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 10vh;
    pointer-events: none;
}

.pixelated {
    image-rendering: pixelated;
}

.pixel-image {
    image-rendering: pixelated;
    height: 50vh;
    width: auto;
    position: fixed;
    display: block;
    object-fit: contain;
}

.pixel-image-left {
    left: 0;
}

.pixel-image-right {
    right: 0;
}

.pixel-petal-image {
    width: 30px;
    height: 30px;
}

.petals, .petals-2 {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 10vh;
    left: 0;
    pointer-events: none;
}

.petals-2 {
    transform: translateX(50%);
}

.petals > div, .petals-2 > div {
    position: fixed;
}

.petals > div:nth-child(1), .petals-2 > div:nth-child(1) {
    left: 20%;
    animation: animate 10s linear infinite;
}

.petals > div:nth-child(2), .petals-2 > div:nth-child(2) {
    left: 35%;
    animation: animate 8s linear infinite;
    animation-delay: -2s;
}

.petals > div:nth-child(3), .petals-2 > div:nth-child(3) {
    left: 50%;
    animation: animate 12s linear infinite;
    animation-delay: -7s;
}

.petals > div:nth-child(4), .petals-2 > div:nth-child(4) {
    left: 65%;
    animation: animate 9s linear infinite;
    animation-delay: -6s;
}

.petals > div:nth-child(5), .petals-2 > div:nth-child(5) {
    left: 80%;
    animation: animate 11s linear infinite;
    animation-delay: -8s;
}

@keyframes animate {
    0% {
        opacity: 0;
        top: -10%;
        transform: translateX(-5vw);
    }
    10% {
        opacity: 1;
    }
    100% {
        top: 110%;
        transform: translateX(-30vw);
    }
}

/* POEM */

.poem-spacing {
    width: 50%;
    margin: auto;
    border-radius: 25px;
}

.poem-text {
    text-align: center;
    color: black;
    tab-size: 0;
    line-height: 150%;
    font-weight: 200;
    font-size: 16px;
    padding-bottom: 1%;
    padding-top: 1%;
}

/* TRUMPET PIECE*/

.concert-hall {
    background: #FFD580;
    background: radial-gradient(circle, rgba(255, 213, 128, 1) 70%, rgba(110, 0, 0, 1) 100%);
}

.concert-text {
    color: black;
    background-color: #90909030;
    padding: 2%;
    border-radius: 50px;
}

.concert-spacing {
    padding-top: 1%;
    padding-bottom: 1%;
}


canvas {
    height: 80%;
    width: auto;
}